# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Learn-Russain-Alphabet.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\S.K.L\Documents\_code\.NET C#\Learn-Russain-Alphabet\.idea\.idea.Learn-Russain-Alphabet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
